<p>
  <strong>Name:</strong>
  <%= @repository.name %>
</p>

<p>
  <strong>Full Name:</strong>
  <%= @repository.full_name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @repository.url %>
</p>

<%= link_to 'Back', repositories_path %>
